
<!-- Post content-->
    <article>
    <!-- Post header-->
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
        </header>
    <!-- Post content-->
        <section class="mb-5">
            <p class="text-center blogDecTwo">{{description}}</p>
        </section>
    </article>

    
<!-- Comments section-->
    {{!-- {{#if logged_in}} --}}
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                    <form class="new-comment-form mb-4" data-blogid={{id}}>
                        <textarea class="comment-description form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                    <button class="comment-btn">Comment</button>
                    </form>
    {{!-- {{/if}} --}}
                <!-- Posted comments-->
                {{#each comments as |comments|}}
                    <div class="ms-3">
                       <p class="text-center commentText">{{comment.comment_description}}</p>
			           <p class="text-center commentOwner"><span>~</span>Created by {{comment.user.name}} on {{format_date date_created}}<span>~</span></p>
		            </div>
		        {{/each}}
            </div>
        </div>
    </section>

